- leaderboard = @group.group_members.map { |gm| [gm.user, ScoreCalculator.new(gm.user)] }.sort_by { |array| array.last.score }.reverse
%table
  %tr
    %th.narrow.right-aligned Position
    %th.narrow.left-aligned Login
    %th.narrow.right-aligned Score
    %th.narrow.right-aligned Judged predictions
  - leaderboard.each_with_index do |array, position|
    - next nil if array.first.try(:login).nil?
    %tr
      %td.right-aligned= position + 1
      %td.left-aligned= link_to TitleTagPresenter.new(array.first.login).tag, array.first
      %td.right-aligned= array.last.score
      %td.right-aligned= array.last.judged_prediction_count
      %td{class: "chart_div_#{array.first.id}"}
