<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :login, autofocus: true %>
  </div>

  <div class="field">
    <%= f.email_field :email %>
  </div>

  <% placeholder = "(#{@minimum_password_length} characters minimum)" if @minimum_password_length %>
  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: placeholder %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: placeholder %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
