<!-- <form id="make-prediction" method="post" action="#">
    <div class="row">
      <input name="name" type="text" value="Your Name" />
      <input name="prediction-name" type="text" value="Prediction Name" />
    </div>
    <h2><span>How sure are you?</span></h2>
    <div class="row">
      <div class="slider">Slider here</div>
      <input name="percentage" type="text" />
      <input name="result-date" type="text" value="Result Date" />
      <a href="#" class="tip"><img src="/styling/form-tip.png" alt="?" /></a>
    </div>
    <h2><span>Extra Details</span></h2>
    <div class="row">
      <input name="tags" type="text" value="Add Tags (Seperated by a “,”)" />
      <input name="alert" id="prediction-alert" type="checkbox" value="alert" /><label for="prediction-alert">alert me on the result date</label>
    </div>
    <div class="row">
      <textarea name="comments" cols="30" rows="5">Enter Additional Comments</textarea>
      <input name="email" type="text" value="Enter your email address" />
    </div>
    <input type="image" alt="Lock it in" src="/styling/button-prediction-submit.png" />
</form> -->


<%= form_for(@prediction) do |f| %>
<div class="clear">
  <h2>Make a Prediction</h2>
	<%= f.hidden_field :uuid %>
  <%= f.text_area :description, :label => 'What do you think will (or won\'t) happen?' %>
  <%= f.confidence_field :initial_confidence, :label => 'What\'s your estimate of this happening?' %>
  <%= f.text_field :deadline_text, :label => 'When will you know?', :trailing_content => link_to('Help', '#date-help', :class => 'help facebox'), :preview => true %>
  <%= f.submit 'Lock it in!' %>
  <%= f.check_box :notify_creator, :label => 'Email me when I should know the outcome' %>
  <%- unless current_user.has_email? -%>
  <p>(Email will not be sent until you <%= link_to "set your email", settings_user_path(current_user) %>)</p>
  <%- end -%>
  <%= f.check_box :private, :label => 'Keep this prediction private.' %>
  <p class='note'><%= render :partial => 'private_note' %></p>
</div>
<% end %>


<div id='date-help' class="hidden-help">
<p class="help">You can enter the time in a few ways:</p>
<ul>
    <li>tomorrow</li>
    <li>in 3 hours</li>
    <li>friday 1pm</li>
    <li>4pm</li>
    <li>sat 7 in the evening</li>
    <li>this tuesday</li>
    <li>tomorrow at 6:45pm</li>
    <li>7 days from now</li>
    <li>2008-05-27</li>
    <li>17:00</li>
</ul>
</div>
