<%= form_for(@prediction, :html => { :honeypot => true }) do |f| %>
  <div class="clear">
    <h2>Make a Prediction</h2>
    <%= link_to '...or make several about a topic', new_prediction_group_path %>
  	<%= f.hidden_field :uuid %>
    <%= f.text_area :description, :label => 'What do you think will (or won\'t) happen?' %>
    <%= f.confidence_field :initial_confidence, :label => 'What\'s your estimate of this happening?' %>
    <%= f.text_field :deadline_text, :label => 'When will you know?', :trailing_content => link_to('Help', '#date-help', :class => 'help facebox'), :preview => true, class: 'deadline_text' %>
    <%= f.check_box :notify_creator, :label => 'Email me when I should know the outcome' %>
    <%- unless !current_user.present? || current_user.has_email? -%>
    <p>(Email will not be sent until you <%= link_to "set your email", settings_user_path(current_user) %>)</p>
    <%- end -%>
    <%= f.select_field :visibility, raw(Visibility.select_options_html((current_user.try(:groups) || []), @prediction.visibility, @prediction.group_id)), label: 'Visibility' %>
    <p class='note'><%= render :partial => 'private_note' %></p>
    <%= f.submit 'Lock it in!' %>
  </div>
<% end %>


<%= render 'predictions/deadline_text_help' %>
