 <li class="prediction <%= prediction.readable_outcome %>">
   <p>
      <%- if prediction.private? -%><span class='status private'>[private]</span><%- end -%>
      <%= render :partial => 'predictions/simple', :locals => {:prediction => prediction} %>
   </p>
   <p class='description'>
     Created by <%= show_user(prediction.creator, 'creator') %>
     <%= show_time(prediction.created_at, 'created_at') %>;
     <span class='deadline'>known <%= show_time(prediction.deadline) %><%= prediction.judgement? ? ';' : '.' %></span>
    <%= render :partial => prediction.judgement if prediction.judgement? -%>
  </p>
 </li>