<h1 class="<%= @prediction.readable_outcome %>">
  <% if current_user&.authorized_for?(@prediction, 'edit') %>
    <%= link_to 'Edit', @edit_path, class: 'edit' %>
  <% end %>
  <%= TitleTagPresenter.new(@prediction.description_with_group).tag %>
</h1>

<% if @prediction.tag_names.any? %>
  <p>
    <% @prediction.tag_names.each do |name| %>
      <%= link_to("##{name}", predictions_path(params: { tag_names: [name]})) %>
    <% end %>
  </p>
<%end %>

<p>
  Created by <%= show_user(@prediction.creator) %>
  <%= TimeInContentTagPresenter.new(@prediction.created_at).tag %>;
  known <%= TimeInContentTagPresenter.new(@prediction.deadline).tag %><% if @prediction.judgement %>;
  <%= render @prediction.judgement %><% end %>
</p>

<% if @prediction.visible_to_creator? %>
  <p class='note'>
    This prediction is <strong>private</strong>. <%= render 'predictions/private_note' %>
  </p>
<% end %>
<% if @prediction.visible_to_group? %>
  <p class='note'>
    This prediction is only visible to members of the <strong><%= link_to @prediction.group.name, group_path(@prediction.group) %></strong> group.
  </p>
<% end %>

<%= render 'predictions/events', events: @events %>

<% if current_user.present? %>
  <div id='response'>
    <%= render 'responses/form' %>
  </div>
  <div id='notification'>
    <h2>Email Notifications</h2>
    <div id="deadline_notification"><%= render @deadline_notification %></div>
    <div id="response_notification"><%= render @response_notification %></div>
  </div>
<% else %>
  <p><span class='notice'>Please <%= link_to 'log in', new_user_session_path %> to respond to or judge prediction</span></p>
<% end %>

<% if current_user.present? && !@prediction.withdrawn? %>
  <div id="judgement">
    <h2>Judge this prediction</h2>
    <p class="note">Only judge this prediction once its outcome is known.<br />Record your opinion above, <strong>not</strong> here!</p>
    <%= form_tag(judge_prediction_path(@prediction)) do %>
      <%= outcome_button 'Unknown' %>
      <%= outcome_button 'Right' %>
      <%= outcome_button 'Wrong' %>
    <% end %>
    <% if @prediction.withdrawable_by?(current_user) %>
      <div class="withdraw">
        <p class="note">
          You may want to withdraw a prediction if you feel it no longer makes sense,
          or if it would not be possible to decide its outcome.
        </p>
        <%= form_for([:withdraw, @prediction], html: {method: :post}) do |f| %>
          <%= f.submit 'Withdraw Prediction', confirm: 'Are you sure you want to withdraw this prediction?' %>
        <% end %>
      </div>
    <% end %>
    <br />
  </div>
<% end %>
