<h1 class="<%= @prediction.readable_outcome %>">
  <%= TitleTagPresenter.new(@prediction.description_with_group).tag %>
</h1>

<% if @prediction.tag_names.any? %>
  <div class="tags">
    <% @prediction.tag_names.each_with_index do |name, index| %>
      <%= link_to("##{name}", predictions_path(params: { tag_names: [name]}), class: "color#{index % 6 + 1}") %>
    <% end %>
  </div>
<%end %>

<p>
  Created by <%= show_user(@prediction.creator) %>
  <%= TimeInContentTagPresenter.new(@prediction.created_at).tag %>;
  known <%= TimeInContentTagPresenter.new(@prediction.deadline).tag %><% if @prediction.judgement %>;
  <%= render @prediction.judgement %><% end %>
</p>

<% if @prediction.visible_to_creator? %>
  <p class='note'>
    This prediction is <strong>private</strong>. <%= render 'predictions/private_note' %>
  </p>
<% end %>
<% if @prediction.visible_to_group? %>
  <p class='note'>
    This prediction is only visible to members of the <strong><%= link_to @prediction.group.name, group_path(@prediction.group) %></strong> group.
  </p>
<% end %>

<%= render 'predictions/events', events: @events %>
