%h2= "#{@group.name} group members"

= link_to "<< Back to group", group_path(@group)

.popular
  %ul
    = render @group_members

- if @current_user_group_member.admin?
  = button_to "Invite another user", new_group_group_member_path(@group), method: :get
