<div class='statistics'>
  <h2>Statistics</h2>
  <table>
    <thead>
      <tr>
        <th class="narrow">Confidence</th>
        <%- statistics.each do |stat| -%>
        <th><%= certainty_heading(stat.heading) %></th>
        <%- end -%>
        <th>Total</th>
        <th><a href="http://en.wikipedia.org/wiki/Proper_scoring_rule#Logarithmic_scoring_rule">Score</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="narrow">Accuracy</th>
        <%- statistics.each do |stat| -%>
          <td><%= stat.accuracy %>%</td>
        <%- end -%>
        <td>&nbsp;</td>
        <td
        <%- if (Float statistics.score) > 1 -%>
			class="goodscore"
        <%- elsif (Float statistics.score) < 1 -%>
			class="badscore"
        <%- end -%>
        ><%= statistics.score %></td>
      </tr>
      <tr>
        <th class="narrow">Sample Size</th>
        <%- statistics.each do |stat| -%>
          <td><%= stat.count %></td>
        <%- end -%>
        <td><%= statistics.size %></td>
      </tr>
    </tbody>
  </table>
  <%= image_tag statistics.image_url %>
</div>
