<div class='statistics'>
  <h2>Statistics</h2>
  <table>
    <thead>
      <tr>
        <th class="narrow">Confidence</th>
        <%- statistics.each do |stat| -%>
        <th><%= certainty_heading(stat.heading) %></th>
        <%- end -%>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="narrow">Accuracy</th>
        <%- statistics.each do |stat| -%>
          <td><%= stat.accuracy %>%</td>
        <%- end -%>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th class="narrow">Sample Size</th>
        <%- statistics.each do |stat| -%>
          <td><%= stat.count %></td>
        <%- end -%>
        <td><%= statistics.size %></td>
      </tr>
    </tbody>
  </table>
  <%= image_tag statistics.image_url %>
</div>
