= form_for(@group, html: { honeypot: true }) do |f|
  = f.text_field :name, label: "Name your group"

  - if @group.new_record?
    = label_tag :invitees, "Enter the logins of up to 20 PredictionBook friends, one per line. Invalid logins will be ignored. You can invite more friends later."
    = text_area_tag :invitees, "", rows: 20, cols: 100

  = f.submit 'Create my group!'
