%h2
  The
  = @group.name
  group

%div
  %strong Administrators:
  %ul
    - @group.group_members.select(&:admin?).map(&:user).each do |admin_user|
      %li= link_to admin_user.login, user_path(admin_user)

%p= link_to "Group members (#{@group.group_members.size})", group_group_members_path(@group)

%p

- cache(group_statistics_cache_key @group) do
  - @heading = 'Group statistics'
  = render 'statistics/show'

%p

#score
  %h2 Group calibration
  - cache(group_calibration_scores_cache_key @group) do
    = render 'calibration_scores/show'

%p

#leaderboard
  %h2 Group leaderboard
  - cache(group_leaderboard_cache_key @group) do
    = render 'leaderboard/show'

%p

= render 'predictions/list', title: 'Group predictions'
