<%- if @user.present? %>
  <%- cache(user_statistics_cache_key @user) do -%>
  	<%= render :partial => 'statistics/show' %>
  <%- end -%>

  <div id="score">
    <h2>Calibration</h2>
    <%- cache(user_calibration_scores_cache_key @user) do -%>
    	<%= render :partial => 'calibration_scores/show' %>
    <%- end -%>
  </div>

  <div id="predictions">
    <h2>Displaying <%= params[:filter].nil? ? 'all' : params[:filter] %> predictions made by <%= show_user(@user) %>, filtered by:
      <%= form_tag @user, method: :get, class: 'prediction-filter' do %>
        <%= select_tag :filter, options_for_select(['all predictions', 'judged', 'unjudged', 'future'], params[:filter]) %>
        <%= submit_tag 'Go!' %>
      <% end %>
    </h2>
    <ul>
      <%= render :partial => @predictions %>
    </ul>
  </div>
  <p class="pagination"><%= paginate @predictions %></p>
<% else %>
  <h2>No user found.</h2>
<% end %>
