<% if @user.present? %>
  <% cache(user_statistics_cache_key @user) do %>
  	<%= render 'statistics/show' %>
  <% end %>

  <div id="score">
    <h2>Calibration</h2>
    <% cache(user_calibration_scores_cache_key @user) do %>
    	<%= render 'calibration_scores/show' %>
    <% end %>
  </div>

  <div id="predictions">
    <h2>Most recent predictions by <%= show_user(@user) %></h2>
    <ul>
      <%= render @predictions %>
    </ul>
  </div>
  <p class="pagination"><%= paginate @predictions %></p>
<% else %>
  <h2>No user found.</h2>
<% end %>
