<h1>The Credence Game</h1>

<% if flash[:score] %>
  <p><%= flash[:score] %> points: <%= flash[:message] %></p>
<% end %>
<table>
  <tr>
    <th>Average score</th>
    <th>Last 10 average</th>
    <th>Total score (<%= @game.num_answered %> answers)</th>
  </tr>
  <tr>
    <td><%= @game.average_score.round(1).to_s.chomp('.0') %></td>
    <td><%= @game.recent_average(10).round(1).to_s.chomp('.0') %></td>
    <td><%= @game.score %></td>
  </tr>
</table>
<p><%= @question.text %></p>
<table>
<% @question.answers.each_with_index do |answer, i| %>
  <tr>
    <td><%= answer.text %> (<%= answer.value %>)</td>
    <% for pct in [51, 60, 70, 80, 90, 99] %>
      <td>
      <%= form_tag({controller: 'credence', action: 'update'}, method: 'put') do %>
        <%= hidden_field_tag "credence", pct %>
        <%= hidden_field_tag "answer_index", i %>
        <%= submit_tag "#{pct}%" %>
      <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<%# We'll want to hide this when we go live. %>
<%= form_tag({controller: 'credence', action: 'destroy'}, method: 'delete') do %>
  <%= submit_tag('Delete progress', name: 'delete') %>
<% end %>
