<h1>The Credence Game</h1>

<% if flash[:score] %>
  <p><%= flash[:score] %> points: <%= flash[:message] %></p>
<% end %>
<table id="credence-scores">
  <tr>
    <td><%= @game.average_score.round(1).to_s.chomp('.0') %></td>
    <td><%= @game.recent_average(10).round(1).to_s.chomp('.0') %></td>
    <td><%= @game.score %></td>
  </tr>
  <tr>
    <th><strong>Average score</strong></th>
    <th><strong>Last 10 average</strong></th>
    <th><strong>Total score</strong><br>(<%= @game.num_answered %> answers)</th>
  </tr>
</table>

<p><strong>Question <%= @game.num_answered + 1 %>:</strong>
   <%= @question.text %></p>

<table>
<% @question.answers.each_with_index do |answer, i| %>
  <tr>
    <td><%= answer.text %> <% if @game.debug %>(<%= answer.value %>)<% end %></td>
    <% for pct in [51, 60, 70, 80, 90, 99] %>
      <td>
      <%= form_tag({controller: 'credence', action: 'update'}, method: 'put') do %>
        <%= hidden_field_tag "question_id", @question.id %>
        <%= hidden_field_tag "credence", pct %>
        <%= hidden_field_tag "answer_index", i %>
        <%= submit_tag "#{pct}%" %>
      <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<div id="credence-graph-container">
  <p><a href="#">Show calibration graph</a></p>
  <div id="credence-graph">
    <p>Be careful: looking at this graph too often can be bad for your score. If you find yourself giving low-confidence answers to questions that you know very well, consider looking less often.</p>
    <img src="<%= @game.calibration_graph.image_url %>">
  </div>
</div>

<% if @game.debug %>
  <%= form_tag({controller: 'credence', action: 'destroy'}, method: 'delete') do %>
    <%= submit_tag('Delete progress', name: 'delete') %>
  <% end %>
<% end %>
