<h1>The Credence Game</h1>

<% if flash[:score] %>
  <p><%= flash[:score] %> points: <%= flash[:message] %></p>
<% end %>
<p>You currently have <%= @game.score %> points.</p>
<p><%= @question.text %></p>
<%= form_tag({controller: 'credence', action: 'update'}, method: 'put') do %>
  <ul>
  <% @question.answers.each_with_index do |answer, i| %>
    <li>
      <%= answer.text %> (<%= answer.value %>)
      <% for pct in [51, 60, 70, 80, 90, 99] %>
        <%= submit_tag("#{pct}%", name: "submit-#{i}") %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<%# We'll want to hide this when we go live. %>
<%= form_tag({controller: 'credence', action: 'destroy'}, method: 'delete') do %>
  <%= submit_tag('Delete progress', name: 'delete') %>
<% end %>
