<!DOCTYPE html>
<html lang="en">
<head>
  <title>PredictionBook: <%=h @title ? @title : 'How sure are you?' %></title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag "application" %>
	<%= csrf_meta_tag %>
  <% [6,7].each do |ie_version| %>
  <!--[if IE <%= ie_version %>]>
    <%= stylesheet_link_tag "ie#{ie_version}.css" %>
  <![endif]-->
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= PredictionBook::Application.config.credentials.google_analytics_id %>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body class="<%= yield :bodyclass %>">

<div id="container">

	<div id="header" class="wrapper clear">
		<div id="main_nav" class="clear">
			<ul id="nav-menu">
			  <li><%= link_to 'New prediction', new_prediction_path %></li>
        <li><%= link_to 'View predictions', predictions_path %></li>
			  <li><%= link_to 'Happenstance', happenstance_path %></li>
        <li><%= link_to 'Upcoming', future_predictions_path %></li>
				<li><%= link_to 'Credence game', credence_game_path('try') %></li>
			</ul>

      <ul id="user-links">
			  <% unless current_user.present? %>
	        <li><%= link_to 'Login', new_user_session_path %></li>
	        <li><%= link_to 'Signup', new_user_registration_path %></li>
	  		<% else %>
	  		  <li><%= link_to 'Your profile', user_path(current_user) %></li>
					<li><%= link_to 'Groups', groups_path %></li>
	  		  <li><%= link_to 'Settings', settings_user_path(current_user) %></li>
	  		  <li><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %></li>
	  		<% end %>
      </ul>

		</div><!-- #nav -->
		<div id="header-main" class="clear">
		  <%= link_to image_tag('logo.png', alt: 'PredictionBook'), '/', id: 'logo' %>

			<form id="search" method="get" action="https://www.google.com/search">
				<div class="clear">
					<input type="hidden" name="sitesearch" value="predictionbook.com" />
					<input name="q" type="text" />
          <input type="image" src="<%= asset_path("button-search.png") %>" alt="Search" />
				</div>
			</form>
		</div><!-- #header-main -->
	</div><!-- #header -->

	<div id="main-wrap">
	<div id="main-inner">
	<div id="main" class="wrapper clear">

		<%= yield :feature %>

		<%= render 'layouts/messages' %>

		<div id="content" class="clear">
      <%= yield %>
		</div><!-- #content -->

	</div><!-- #main -->
	</div><!-- #main-inner -->
	</div><!-- #main-wrap -->

  <div id="footer" class="wrapper clear">
    <ul class="left-links">
      <li><%= link_to 'Home', '/' %></li>
      <li><%= link_to 'New prediction', new_prediction_path %></li>
      <li><%= link_to 'View predictions', predictions_path %></li>
      <li><%= link_to 'Happenstance', happenstance_path %></li>
      <li><%= link_to 'Upcoming', future_predictions_path %></li>
      <li><%= link_to 'Credence game', credence_game_path('try') %></li>
      <li><%= link_to 'PredictionBook on GitHub', "https://github.com/tricycle/predictionbook" %></li>
    </ul>
    <ul class="right-links">
      <li><span class="copyright">PredictionBook © 2008-<%= Date.today.year %></span></li>
    </ul>
  </div><!-- #footer -->
</div><!-- #container -->

<script src="https://pbook.uservoice.com/pages/general/widgets/tab.js?alignment=right&amp;color=000000" type="text/javascript"></script>

</body>
</html>
